<footer id="footer-wrap" class="row">
    <div class="section col-xs-24">
        <div class="footer-2020 row">
            <div class="col-xs-24 col-md-12">
                <div class="row">
                    <div class="col-xs-24 col-md-12 col-lg-13 col-xlg-8 no-padding">
                        <p>
                            {% if options.email_button_url %}
                                {% include 'inc/arrow-link.twig' with {'title': options.email_button_title , 'url': options.email_button_url } %}
                            {% endif %}
                            {% if options.newsletter_button_url %}
                                {% include 'inc/arrow-link.twig' with {'title': options.newsletter_button_title , 'url': options.newsletter_button_url } %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-xs-24 col-md-12 col-md-push-4 col-lg-10 no-padding conversation-text">
                        {{ options.conversation_text }}
                    </div>
                    <div style="margin-top: 20px" class="col-xs-24 no-padding hidden-md hidden-lg hidden-xlg">
                        <div class="social-2020">
                            {{ options.social_text }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-md-20 no-padding footer-text-2020">{{ options.footer_text }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-24 no-padding sponsors">
                        {% if options.footer_logos %}
                            {% for logo in options.footer_logos %}
                                <div class="sponsor-item">
                                    <p class="sponsor-item-caption">{{ logo.footer_logo_headline }}</p>
                                    <a href="{{ logo.footer_logo_url }}" target="_blank"><img class="img-responsive" src="{{get_image(logo.footer_logo_image).src}}" alt="{{logo.footer_logo_image.alt}}"></a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-md-12 footer-2020-right no-padding">
                <div class="col-xs-24 col-md-8 col-md-push-16 no-padding hidden-xs">
                    <div class="social-2020">
                        <nav aria-label="{{ __('Social Media', 'theme') }}">
                            {{ options.social_text }}
                        </nav>
                    </div>
                </div>
                <div class="col-xs-24 col-md-8 col-md-push-16 no-padding legal-wrap">
                    <nav aria-label="{{ __('Footer', 'theme') }}" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        {% if( post.id != 58 and post.id != 157) %}
                            <ul class="nav footer-nav">
                                {% for item in footernav.items %}
                                    <li class="menu-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.link}}">{{item.title}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>


