{% extends "base-page-2020.twig" %}

{% block content %}
	<div class="page-2020-wrap">
		{% include 'inc/page-intro-block.twig' %}
		{% if hide_filters == false %}
			<div class="row filter-wrap" data-filter="{{ filter }}">
				<div class="col-xs-24">
                    <!-- RUNDEN -->
                    <div data-id="rounds" class="rounds filter-tab">
                        <div class="filter-tab-header">
                            <h4 class="filter-headline">{{ options.filter_title_rounds }}</h4>
                        </div>
                        <div class="filter-tab-content">
                            <div class="filter-tab-content-inner row">
                                <div class="col-xs-24">
                                    {% for item in projects_rounds_filter %}
                                        <a href="{{ item.url }}" data-filter="{{ item.slug }}" class="btn-project-filter">
                                            <span>{{item.title}}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		{% endif %}
		<div class="projects-list" style="opacity:0;">
			{% for post in projects %}
				{% if post.get_field('featured') == 1 %}
					{% include 'views/inc/project-list-item.twig' %}
				{% endif %}
			{%  endfor %}
			{% for post in projects %}
				{% if post.get_field('featured') != 1 %}
					{% include 'views/inc/project-list-item.twig' %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-xs-24">
				<h4 class="nothing-found-info hidden h1">{{ options.nothing_found_info }}</h4>
			</div>
		</div>
	</div>

{% endblock %}
