{% extends "base-page-2020.twig" %}

{% block content %}
	<main class="page-2020-wrap">
		{% include 'inc/page-intro-block.twig' %}
		{% if hide_filters == false %}
			<div class="row filter-wrap" data-filter="{{ filter }}">
				<div class="col-xs-24">
                    <!-- RUNDEN -->
                    <div data-id="rounds" class="rounds filter-tab">
                        <div class="filter-tab-header">
							<button aria-expanded="false" id="filter-tab-button-0" aria-controls="filter-tab-content-0" >
								<span class="h4 filter-headline">
									{{ options.filter_title_rounds }}
								</span>                       
							</button>
						</div>
						<div role="region" id="filter-tab-content-0" aria-labelledby="filter-tab-button-0" class="filter-tab-content">
                            <div class="filter-tab-content-inner row">
                                <div class="col-xs-24">
                                    {% for item in projects_rounds_filter %}
                                        <a href="{{ item.url }}" data-filter="{{ item.slug }}" class="btn-project-filter">
                                            <span>{{item.title}}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		{% endif %}

		<div tabindex="-1" aria-label="{{ __('Project list', 'theme') }}" class="projects-list" style="opacity:0;">
            {% for post in projects %}
                {% include 'views/inc/project-list-item.twig' %}
			{%  endfor %}
		</div>
		<div class="row">
			<div class="col-xs-24">
				<h5 class="nothing-found-info hidden h1">{{ options.nothing_found_info }}</h5>
			</div>
		</div>
	</main>
{% endblock %}
