{% extends "base-page-2020.twig" %}

{% block content %}
	<main class="page-2020-wrap">
		{% include 'views/inc/page-intro-block.twig' %}
		<div class="row filter-wrap" data-filter="">
			<div class="col-xs-24">
				<h2>{{ post.get_field('basics_headline') }}</h2>
			</div>
			<div class="col-xs-24">
				{% if post.get_field('basics_blocks') %}
					{% for block in post.get_field('basics_blocks') %}
						<div id="{{ block.id }}" class="filter-tab">
							<div class="filter-tab-header">
								<button aria-expanded="false" id="filter-tab-button-{{ loop.index0 }}" aria-controls="filter-tab-content-{{ loop.index0 }}" >
									<h4 class="filter-headline">
										{{ block.headline }}
									</h4>
								</button>							
							</div>
							<div role="region" id="filter-tab-content-{{ loop.index0 }}" aria-labelledby="filter-tab-button-{{ loop.index0 }}" class="filter-tab-content" style="height: 0px; display: block;">
								<div class="filter-tab-content-inner row">
									<div class="col-xs-24 col-md-12">
										{{ block.content }}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="col-xs-24">
				<h2>{{ post.get_field('details_headline') }}</h2>
			</div>
			<div class="col-xs-24">
				{% if post.get_field('details_blocks') %}
					{% for block in post.get_field('details_blocks') %}
						<div class="filter-tab">
							<div class="filter-tab-header">
								<h4 class="filter-headline">
									<button aria-expanded="false" id="filter-tab-button-{{ loop.index0 }}" aria-controls="filter-tab-content-{{ loop.index0 }}" >{{ block.headline }}</button>
								</h4>									
							</div>		
							<div role="region" id="filter-tab-content-{{ loop.index0 }}" aria-labelledby="filter-tab-button-{{ loop.index0 }}" class="filter-tab-content" style="height: 0px; display: block;">
								<div class="filter-tab-content-inner row">
									<div class="col-xs-24 col-md-12">
										{{ block.content }}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
