<div aria-hidden="true" class="hover red"></div>
<div aria-hidden="true" class="hover blue"></div>
<div aria-hidden="false" class="couples couples-6-0">
    <img src="{{ theme.link }}/library/images/couples/couples_6_0.svg" alt="Now">
</div>
<div aria-hidden="false" class="couples couples-6-1">
    <img src="{{ theme.link }}/library/images/couples/couples_6_1.svg" alt="Never">
</div>
<div aria-hidden="false" class="couples couples-7-0">
    <img src="{{ theme.link }}/library/images/couples/couples_7_0.svg" alt="Issue">
</div>
<div aria-hidden="false" class="couples couples-7-1">
    <img src="{{ theme.link }}/library/images/couples/couples_7_1.svg" alt="Resolve">
</div>
<div aria-hidden="false" class="couples couples-8-0">
    <img src="{{ theme.link }}/library/images/couples/couples_8_0.svg" alt="Super">
</div>
<div aria-hidden="false" class="couples couples-8-1">
    <img src="{{ theme.link }}/library/images/couples/couples_8_1.svg" alt="User">
</div>
<div aria-hidden="false" class="couples couples-9-0">
    <img src="{{ theme.link }}/library/images/couples/couples_9_0.svg" alt="Fail">
</div>
<div aria-hidden="false" class="couples couples-9-1">
    <img src="{{ theme.link }}/library/images/couples/couples_9_1.svg" alt="Better">
</div>
<div aria-hidden="false" class="couples couples-10-0">
    <img src="{{ theme.link }}/library/images/couples/couples_10_0.svg" alt="Break">
</div>
<div aria-hidden="false" class="couples couples-10-1">
    <img src="{{ theme.link }}/library/images/couples/couples_10_1.svg" alt="Loop">
</div>
<div aria-hidden="false" class="couples couples-0-0">
    <img src="{{ theme.link }}/library/images/couples/couples_0_0.svg" alt="Push">
</div>
<div aria-hidden="false" class="couples couples-0-1">
    <img src="{{ theme.link }}/library/images/couples/couples_0_1.svg" alt="Pull">
</div>
<div aria-hidden="false" class="couples couples-1-0">
    <img src="{{ theme.link }}/library/images/couples/couples_1_0.svg" alt="If">
</div>
<div aria-hidden="false" class="couples couples-1-1">
    <img src="{{ theme.link }}/library/images/couples/couples_1_1.svg" alt="Else">
</div>
<div aria-hidden="false" class="couples couples-2-0">
    <img src="{{ theme.link }}/library/images/couples/couples_2_0.svg" alt="Copy">
</div>
<div aria-hidden="false" class="couples couples-2-1">
    <img src="{{ theme.link }}/library/images/couples/couples_2_1.svg" alt="Paste">
</div>
<div aria-hidden="false" class="couples couples-11-0">
    <img src="{{ theme.link }}/library/images/couples/couples_11_0.svg" alt="">
</div>
<div aria-hidden="false" class="couples couples-11-1">
    <img src="{{ theme.link }}/library/images/couples/couples_11_1.svg" alt="">
</div>
<div aria-hidden="false" class="couples couples-3-0">
    <img src="{{ theme.link }}/library/images/couples/couples_3_0.svg" alt="Read">
</div>
<div aria-hidden="false" class="couples couples-3-1">
    <img src="{{ theme.link }}/library/images/couples/couples_3_1.svg" alt="Write">
</div>
<div aria-hidden="false" class="couples couples-4-0">
    <img src="{{ theme.link }}/library/images/couples/couples_4_0.svg" alt="Trial">
</div>
<div aria-hidden="false" class="couples couples-4-1">
    <img src="{{ theme.link }}/library/images/couples/couples_4_1.svg" alt="Error">
</div>
<div aria-hidden="false" class="couples couples-5-0">
    <img src="{{ theme.link }}/library/images/couples/couples_5_0.svg" alt="Done">
</div>
<div aria-hidden="false" class="couples couples-5-1">
    <img src="{{ theme.link }}/library/images/couples/couples_5_1.svg" alt="Perfection">
</div>
<div aria-hidden="true" class="colorblock red off"></div>
<div aria-hidden="true" class="colorblock blue off"></div>